<ion-view title="Forecasts List Detail">
    <!-- Hiding the side menu nav bar since we're in a detail view -->
    <!-- <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons> -->
    <ion-content class="has-header" scroll="true">
        <div ac-offline message="Retrieving forecasts requires an internet connection. Please connect to the internet and try again later!" is-online="status.isOnline">
            <div class="ac-forecast-container" ng-click="resize()">
                <div ac-forecast-mini ac-forecast="forecast"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
