<ion-view hide-back-button="false" title="<span class='min-title'>Mountain Information Network</span>">
    <ion-nav-buttons side="left">
        <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="reset()"> Reset</button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <label class="item item-input item-dark item-stacked-label">
                <i class="icon fa fa-newspaper-o"></i>
                <span class="input-label">Report title</span>
                <input type="text" placeholder="auto: Quick Report" ng-model="report.title">
            </label>
            <label class="item item-input item-dark  item-stacked-label">
                <i class="icon fa fa-clock-o"></i>
                <span class="input-label">Date and time</span>
                <input type="datetime-local" ng-model="report.datetime">
            </label>
            <label class="item item-input item-dark item-stacked-label" ng-click="showLocationSheet()">
                <i class="icon fa fa-map-marker"></i>
                <span class="input-label">Location</span>
                <div ng-if="display.location.length" class="label-sm energized"><i class="fa fa-circle-o-notch fa-spin"></i> {{display.location}}</div>
                <div ng-if="!display.location.length && !report.latlng[0]" class="label-sm energized">Tap to set location</div>
                <div ng-if="!display.location.length && report.latlng[0]" class="label-sm energized">({{report.latlng[0]}}, {{report.latlng[1]}})</div>
            </label>
            <label class="item item-input item-dark item-stacked-label" ng-click="showPictureSheet()">
                <span class="input-label">Add photo</span>
                <div class="label-sm energized">{{fileSrcs.length}} photos added</div>
            </label>
            <label class="item item-input item-dark item-stacked-label item-icon-right" ng-click="display.ridingInfo=!display.ridingInfo">
                <span class="input-label">Riding conditions</span>
                <i class="icon" ng-class="{'ion-ios7-arrow-up': !display.ridingInfo, 'ion-ios7-arrow-down': display.ridingInfo}"></i>
            </label>
            <div class="riding-info" ng-show="display.ridingInfo">
                <div class="item item-divider">{{report.ridingConditions.ridingQuality.prompt}}</div>
                <ion-radio-fix icon="x" ng-repeat="option in report.ridingConditions.ridingQuality.options" class="item-dark" ng-model="report.ridingConditions.ridingQuality.selected" ng-value="option">{{option}}</ion-radio-fix>
                <div class="item item-divider">{{report.ridingConditions.snowConditions.prompt}}</div>
                <ul class="list quick-report-conditions">
                    <li ng-repeat="(option, enabled) in report.ridingConditions.snowConditions.options" class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="report.ridingConditions.snowConditions.options[option]">
                        </label>
                        {{option}}
                    </li>
                </ul>
                <div class="item item-divider">{{report.ridingConditions.rideType.prompt}}</div>
                <ul class="list quick-report-conditions">
                    <li ng-repeat="(option, enabled) in report.ridingConditions.rideType.options" class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="report.ridingConditions.rideType.options[option]">
                        </label>
                        {{option}}
                    </li>
                </ul>
                <div class="item item-divider">{{report.ridingConditions.stayedAway.prompt}}</div>
                <ul class="list quick-report-conditions">
                    <li ng-repeat="(option, enabled) in report.ridingConditions.stayedAway.options" class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="report.ridingConditions.stayedAway.options[option]">
                        </label>
                        {{option}}
                    </li>
                </ul>
                <div class="item item-divider">{{report.ridingConditions.weather.prompt}}</div>
                <ul class="list quick-report-conditions">
                    <li ng-repeat="(option, enabled) in report.ridingConditions.weather.options" class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="report.ridingConditions.weather.options[option]">
                        </label>
                        {{option}}
                    </li>
                </ul>
            </div>
            <label class="item item-input item-dark item-stacked-label item-icon-right" ng-click="display.avalancheConditions=!display.avalancheConditions">
                <span>Avalanche conditions</span>
                <i class="icon" ng-class="{'ion-ios7-arrow-up': !display.avalancheConditions, 'ion-ios7-arrow-down': display.avalancheConditions}"></i>
            </label>
            <ul class="list quick-report-conditions" ng-show="display.avalancheConditions">
                <li class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="report.avalancheConditions.slab">
                    </label>
                    Slab avalanches today or yesterday.
                </li>
                <li class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="report.avalancheConditions.sound">
                    </label>
                    Whumphing or drum-like sounds or shooting cracks.
                </li>
                <li class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="report.avalancheConditions.snow">
                    </label>
                    30cm + of new snow, or significant drifitng, or rain in the last 48 hours.
                </li>
                <li class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="report.avalancheConditions.temp">
                    </label>
                    Rapid temperature rise to near zero degrees or wet surface snow.
                </li>
            </ul>
            <label class="item item-input item-dark item-stacked-label">
                <span class="input-label">User Comments</span>
                <textarea class="large-textarea" placeholder="User comments" ng-model="report.comment"></textarea>
            </label>
            <label class="item item-dark">
                <button type="button" class="button button-block button-energized" ng-click="save()">
                    <span> SAVE REPORT</span>
                </button>
            </label>
        </ion-list>
    </ion-content>
</ion-view>
