<ion-view hide-back-button="true" title="Offline">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header offline-content">
        <div class="row">
            <div class="col">
                <h2 class="centered"><i class='fa fa-chain-broken'></i> You are currently offline</h2>
                <p class="centered">The Avalanche Canada mobile app requires an internet connection to function properly.</p>
                <p class="centered">Please connect and try again.</p>
            </div>
        </div>
    </ion-content>
</ion-view>
