<div class="row social-icons">
    <div class="col fb" ng-click="sharePopup.close('facebook')"><i class="ion-social-facebook"></i>
    </div>
    <div class="col twitter" ng-click="sharePopup.close('twitter')"><i class="ion-social-twitter"></i>
    </div>
    <div class="col gplus" ng-click="sharePopup.close('other')"><i class="ion-more"></i>
    </div>
</div>

<div class="row">
    <div class="col centered">
        <button ng-click="sharePopup.close()" class="button button-block button-outline button-energized ">Cancel</button>
    </div>
</div>
