<ion-view hide-back-button="true" title="Terms of Use">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="partner has-header">
        <div class="row">
            <div class="col">
                <h2>Avalanche Canada</h2>
                <h3>Terms of Use</h3>
                <p>These Terms of use (“Agreement”) governs the use of the mobile application (“the App”) that are made available by Avalanche Canada (“AC”, “We”, “Us”). These Terms of use represent the whole agreement and understanding between AC and the individual or entity who uses the App (“You”).</p>
                <p>PLEASE READ THIS AGREEMENT CAREFULLY. By your use of the App, you agree to comply with all of the terms and conditions set out in this Agreement.</p>
                <p>AC may, in its sole discretion, change or modify this Agreement at any time, with or without notice. It is your responsibility to read this document from time to time to ensure that your use of the App remains in compliance with this Agreement.</p>
                <ol class="termsList">
                    <li><strong>1. Your AC Account and Service</strong>
                        <br/>
                        <br/>
                        <p>You are fully responsible for all activities that occur under the account and any other actions taken in connection with the App. You must not create content in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and AC may change or remove any content that it considers inappropriate or unlawful, or otherwise likely to cause AC liability. You must immediately notify AC of any unauthorized uses of the App, your account or any other breaches of security. AC will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.</p>
                    </li>
                    <li><strong>2. Responsibility of Contributors</strong>
                        <br/>
                        <br/>
                        <p>If you post material to the App, post links on the App, or otherwise make (or allow any third party to make) material available by means of the App (any such material, “Content”), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, photos, graphics, video and audio content, or computer software. By making Content available, you represent and warrant that:</p>
                        <ul class="termsSubList">
                            <li>the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;</li>
                            <li>if anyone has rights to intellectual property you create, you have either (i) received permission to post or make available the Content, including but not limited to any software, or (ii) secured a waiver as to all rights in or to the Content;</li>
                            <li>you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;</li>
                            <li>the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</li>
                            <li>the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</li>
                            <li>the Content is not pornographic, does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party;</li>
                            <li>the Content is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, blogs and web sites, and similar unsolicited promotional methods;</li>
                            <li>the Content is not named in a manner that misleads your readers into thinking that you are another person or company. For example, the Content's URL or name is not the name of a person other than yourself and your company or other than your own; and</li>
                            <li>you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by AC or otherwise.</li>
                        </ul>
                        <p>By submitting Content to AC, you grant AC a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing and promoting your Content. If you delete Content, AC will use reasonable efforts to remove it, but you acknowledge that caching or references to the Content may not be made immediately unavailable.</p>
                        <p>Without limiting any of those representations or warranties, AC has the right (though not the obligation) to, in AC's sole discretion (i) refuse or remove any content that, in AC's reasonable opinion, violates any AC policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the App to any individual or entity for any reason, in AC's sole discretion. AC will have no obligation to provide a refund of any amounts previously paid.</p>
                    </li>
                    <li><strong>3. Responsibility of App users</strong>
                        <br/>
                        <br/>
                        <p>AC has not reviewed, and cannot review, all of the material, including computer software, posted, and cannot therefore be responsible for that material’s content, use or effects. By providing the App, AC does not represent or imply that it endorses the material included therein, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems and electronic devices such as smartphones and tablets from viruses, worms, Trojan horses, and other harmful or destructive content. AC disclaims any responsibility for any harm resulting from the use of the App.</p>
                    </li>
                    <li><strong>4. Content Posted on Other Websites</strong>
                        <br/>
                        <br/>
                        <p>We have not reviewed, and cannot review, all of the material, including computer software, made available through the App, and that link to the App. AC does not have any control over those sources, and is not responsible for their contents or their use. By linking to a non App website or webpage, AC does not represent or imply that it endorses such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. AC disclaims any responsibility for any harm resulting from your use of non App websites and webpages.</p>
                    </li>
                    <li><strong>5. Copyright Infringement</strong>
                        <br/>
                        <br/>
                        <p> As AC asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located in or linked to by the App violates your copyright, you are encouraged to notify AC. AC will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. AC will terminate a visitor’s access to and use of the App if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of AC or others. In the case of such termination, AC will have no obligation to provide a refund of any amounts previously paid to AC.</p>
                    </li>
                    <li><strong>6. Intellectual Property</strong>
                        <br/>
                        <br/>
                        <p>This Agreement does not transfer from AC to you any AC or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with AC. AC and all other trademarks, service marks, graphics and logos used in connection with the App are trademarks or registered trademarks of AC or AC’s licensors. Other trademarks, service marks, graphics and logos used in connection with the App may be the trademarks of other third parties. Your use of the App grants you no right or license to reproduce or otherwise use any AC or third-party trademarks.</p>
                    </li>

                    <li><strong>7. Advertisements</strong>
                        <br/>
                        <br/>
                        <p>AC reserves the right to display advertisements in the App.</p>
                    </li>
                    <li><strong>8. Attribution</strong>
                        <br/>
                        <br/>
                        <p>AC reserves the right to display attribution links such as ‘created by and provided by’. Attribution links may not be removed.</p>
                    </li>

                    <li><strong>9. Changes</strong>
                        <br/>
                        <br/>
                        <p>AC reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of the App following any changes to this Agreement constitutes acceptance of those changes. AC may also, in the future, offer new services and/or features in the App (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.</p>
                    </li>
                    <li><strong>10. Termination</strong>
                        <br/>
                        <br/>
                        <p>AC may terminate your access to all or any part of the App at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your AC account (if you have one), you may simply discontinue using the App. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
                    </li>
                    <li><strong>11. Disclaimer of Warranties</strong>
                        <br/>
                        <br/>
                        <p>The App is provided “as is”. AC and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement.</p>
                        <p>Neither AC nor its suppliers and licensors, provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and calculations found or offered in the App for any particular purpose. You acknowledge that such information and calculations may contain inaccuracies or errors and AC expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>
                        <p>You understand that you obtain information through the App at your own discretion and risk, for which AC shall not be liable. It shall be your own responsibility to ensure that any information available through the App meet your specific requirements.</p>
                    </li>
                    <li><strong>12. Use at your Risk</strong>
                        <br/>
                        <br/>
                        <p>AC Public Avalanche Forecasts, and any other information and services provided by or made available by AC, are intended for personal and recreational purposes only.</p>
                        <p>The user acknowledges that it is impossible to accurately predict natural events such as avalanches in every instance, and uses the data provided by AC with this always foremost in mind. The accuracy or reliability of the data is not guaranteed or warranted in any way and the Providers disclaim liability of any kind whatsoever, including, without limitation, liability for quality, performance, merchantability and fitness for a particular purpose arising out of the use, or inability to use the data.</p>
                        <p>THIS INFORMATION IS PROVIDED "AS IS" AND IN NO EVENT SHALL THE PROVIDERS BE LIABLE FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION, DAMAGES RESULTING FROM DISCOMFORT, INJURY, OR DEATH, CLAIMS BY THIRD PARTIES OR FOR OTHER SIMILAR COSTS, OR ANY SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, ARISING OUT OF THE USE OF THE INFORMATION.</p>
                    </li>
                    <li><strong>13. Limitation of Liability</strong>
                        <br/>
                        <br/>
                        <p>In no event will AC, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data. AC shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>
                    </li>
                    <li><strong>14. General Representation and Warranty</strong>
                        <br/>
                        <br/>
                        <p>You represent and warrant that (i) your use of the App will be in strict accordance with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, province, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from Canada or the country in which you reside) and (ii) your use of the App will not infringe or misappropriate the intellectual property rights of any third party.</p>
                    </li>
                    <li><strong>15. Indemnification</strong>
                        <br/>
                        <br/>
                        <p>You agree to indemnify and hold harmless AC, its contractors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including legal fees, arising out of your use of the App, including but not limited to your violation of this Agreement.</p>
                    </li>
                    <li><strong>16. Governing Law</strong>
                        <br/>
                        <br/>
                        <p>The rights and obligations of the parties pursuant to this Agreement is governed by, and shall be construed in accordance with, the laws of the province of British Columbia and the federal laws of Canada.</p>
                        <p>You may be subject to other local, provincial or state and national laws. You hereby irrevocably submit to the exclusive jurisdiction of the Courts of the Province of British Columbia for any dispute arising under or relating to this Agreement and waive your right to institute legal proceedings in any other jurisdiction. We shall be entitled to institute legal proceedings in connection with any matter arising under this Agreement in any jurisdiction where you reside, do business or have assets.</p>
                    </li>
                </ol>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-dark bar-footer">
        <button class="button pull-right" ng-class="{'button-energized': !termsAccepted, 'button-balanced': termsAccepted}" ng-hide="acceptedTOU" ng-click="acceptTerms()">
            <i ng-class="{'fa fa-check': termsAccepted}"></i><span ng-show="!termsAccepted"> Accept</span><span ng-show="termsAccepted"> Accepted</span>
        </button>
    </div>
</ion-view>
